# 忽略test01下的所有文件
test01/
# 忽略 所有的 .css 文件
*.css
# 但跟踪所有的 test.css，即使前面忽略了 .css文件
!a.css
# 只忽略当前目录下名为 tood文件(类型是文件)，而不忽略其他目录下的tood
/tood
/test.txt
# 忽略 doc/notes.txt，但不忽略 doc/server/arch.txt
doc/*notes.txt
# 忽略 doc/ 目录及其所有子目录下的 .pfd文件
doc/**/*.pdf
